* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1024px;
    min-width: 860px;
    margin: auto !important;
}

a {
    text-decoration: none;
}

.content {
    margin: 0px 22px;
    background-color: #fff;
}

/*---------------------------
HEADER
---------------------------*/

.header_content {
    padding: 30px 20px 1px;
}

.header_title {
    font-size: 32px;
    padding-top: 8px;
    cursor: pointer;
}

.input_zone {
    padding: 36px 0px 33px;
    position: relative;
}
.header_form {
    font-size: 23px !important;
    height: 47px !important;
    padding: 6px 18px !important;
}
.scnd_filter_container {
    margin-bottom: 11px;
}
.input_zone .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.right_addon .glyphicon {
    right: 0;
    top: 43px;
    color: #aeaeae;
}

.filter_search_btns {
    border: 1px solid #aeaeae;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 22px;

}
.filter_item {
    border-left: 1px solid #aeaeae;
    display: inline-block;
    padding: 4px 0px;
    font-size: 16px;
    box-sizing: border-box;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
}
.filter_item:first-child {
    border: none;
}
.filter_target {
    background-color: #525252;
    color: #fff;
    border-left: 1px solid #aeaeae;
    display: inline-block;
    padding: 4px 20px;
    font-size: 12px;
    box-sizing: border-box;
    min-width: 115px;
    text-align: center;
    cursor: pointer;
}

.filter_choose {
    background-color: #1097c3;
    color: #fff;
}

/*----------------------------------
MAIN CONTENT
----------------------------------*/

.result_content {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding: 16px 20px;
    font-size:  19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.btn_info {
    background-color: #7ad484;
    border-radius: 5px;
    border: 1px solid #3e9953;
    font-size: 13px;
    padding: 4px 32px;
    color: #fff;
}
.btn_text {
    font-size: 11px !important;
}

.main_content {
    margin-bottom: 100px;
}

.person_content {
    padding: 0px 0px 24px 50px;
    margin-bottom: 18px;
    border-bottom: 1px solid #f4f4f4;
}
.persons_photo {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.4s;
}
.persons_photo:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.person_info {
    display: inline-block;
    vertical-align: middle;
    padding-left: 27px;
    line-height: 39px;
    width: 33%;
}

.persons_name {
    font-size: 30px;
    font-weight: bold;
}
.persons_position {
    font-size: 24px;
}
.persons_location {
    display: inline-block;
    cursor: pointer;
}
.persons_location_floor {
    display: inline-block;
    padding-left: 13px;
    font-size: 15px;
    color: #929292;
}
span.location_details {
    color: #000;
    border-bottom: 1px dashed #000080;
    font-size: 18px;
}

.local_info {
    display: inline-block;
    width: 20%;
    margin-left: 60px;
    font-size: 19px;
}
.local_info_title {
    font-size: 14px;
    color: #929292;
}

.persons_contacts_container {
    display: inline-block;
    float: right;
    position: relative;
}
.persons_contacts {
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}
.persons_email {
    text-decoration: underline;
}
.persons_contacts_details {
    float: right;
    position: absolute !important;
    right: 0;
    z-index: 7777;
    top: 3px !important;
    color: #929292;
    cursor: pointer;
}

.tooltip-inner{
    background-color: transparent !important;
    color: #000;
}

.drop_content {
    display: none;
}

.show {
    z-index: 44;
    position: absolute;
    top: -7px;
    right: -10px;
    padding: 20px;
    box-sizing: border-box;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 1px 2px 14px 1px #afafaf;
}
.nav_item {
    margin-bottom: 10px;
    cursor: pointer;
}
.nav_item_remove {
    color: #b95b5b;
    cursor: pointer;
}

/*-----------------------------------------
Hint
-----------------------------------------*/
nav.tooltips {
  position: relative;
  display: inline;
  color: #000;
}
nav.tooltips div {
  position: absolute;
  font-size: 17px;
  width:200px;
  color: #333333;
  background: #FFFFFF;
  border: 2px solid #DBDBDB;
  height: 100px;
  line-height: 25px;
  text-align: left;
  visibility: hidden;
  border-radius: 6px;
  padding: 10px;
}
nav.tooltips div:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #DBDBDB;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
nav.tooltips div:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
nav:hover.tooltips div {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
  transition: 0.4s;
}
